.tbanner{
     background-color: #2d6991;
}

.bannline{
     color: white;
     background-color: #2d6991;
     float: right;
     cursor: pointer;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     font-family: Comic Sans MS;
     padding-top: 10px;
     padding-bottom: 4px;
     padding-left: 8px;
     padding-right: 8px;
}

.modback{
     background-color: #85bee4;
}

.modhead{
     font-family: Comic Sans MS;
}

.bannform{
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     display: block;
     font-family: Comic Sans MS;
     font-weight: bold;
}

.formebox{
     margin-bottom: 5%;
     font-family: Comic Sans MS;
}

.formebutton{
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     display: block;
     font-family: Comic Sans MS;
}

.navbarwhole{
     background-color: #4b9fd8;
}

.navbar{
     --bs-navbar-padding-y: -1.5rem !important;
}

.logoimg{
     width: 220px;
     border-radius: 0px 60px 60px 0px;
     box-shadow: 5px 10px #41789e;
     background-color: #F1F1F1;
     margin-left: -12px;
     margin-bottom: 10px;
}

.navbutton{
     width: 25%;
}

.navtext{
     color: #ffffff;
     text-decoration: none;
     font-family: Comic Sans MS;
     font-size: 24px;
}

.navtext:hover{
     color: #ffffff;
     text-decoration: none;
     font-family: Comic Sans MS;
     font-size: 24px;
}

.navtextau{
     color: #ffffff;
     width: 110px;
     text-decoration: none;
     font-family: Comic Sans MS;
     font-size: 24px;
}

.navtextau:hover{
     color: #ffffff;
     text-decoration: none;
     font-family: Comic Sans MS;
     font-size: 24px;
}

.navbartext{
     /* width: 118px; */
     font-weight: 500;
     font-size: 22px;
     margin-right: 7%;
     font-family: Comic Sans MS;
}